! =========================
! ======== FONTS ==========
! =========================

Xft.dpi:            96
Xft.antialias:      true
Xft.hinting:        true
Xft.rgba:           rgb
Xft.autohint:       false
Xft.hintstyle:      hintfull
Xft.lcdfilter:      lcddefault


! =========================
! ========= ROFI ==========
! =========================

rofi.terminal:      termite
rofi.ssh-client:    ssh
rofi.width:         30

! =========================
! ========= URXVT =========
! =========================

URxvt.geometry: 		72x18
URxvt*letterSpace: 	    0
URxvt.lineSpace: 		0
URxvt*internalBorder:   22
URxvt*externalBorder:   0
URxvt*depth:            32
URxvt*saveline:         2000
URxvt*termName:         rxvt-256color
URxvt*iso14755:         false
URxvt*scrollBar:        false
URxvt.font: xft:monospace:size=12
URxvt*scrollBar_right:  false
URxvt.perl-ext-common:  default,clipboard,url-select,keyboard-select
URxvt.copyCommand:      xclip -i -selection clipboard
URxvt.pasteCommand:     xclip -o -selection clipboard
URxvt.keysym.M-c:       perl:clipboard:copy
URxvt.keysym.M-v:       perl:clipboard:paste
URxvt.keysym.M-C-v:     perl:clipboard:paste_escaped
URxvt.keysym.M-Escape:  perl:keyboard-select:activate
URxvt.keysym.Shift-Up:	command:\033]720;1\007
URxvt.keysym.Shift-Down:command:\033]721;1\007
URxvt.keysym.M-s:       perl:keyboard-select:search
URxvt.keysym.M-u:       perl:url-select:select_next
URxvt.urlLauncher:      chrome-unstable
URxvt.underlineURLs:    true
URxvt.urlButton:        1
URxvt*buffered:         false          
URxvt.urgentOnBell: 	True
!URxvt*font: 9x15

! =========================
! ======== COLORS =========
! =========================

*background:	#1E2541
*foreground:	#EEFFFF
*cursorColor:	#EEFFFF
*color0:	#1E2541
*color1:	#F0719B
*color2:	#5AF7B0
*color3:	#FFA56B
*color4:	#57C7FF
*color5:	#C792EA
*color6:	#89DDFF
*color7:	#EEFFFF
*color8:	#354274
*color9:	#F02E6E
*color10:	#2CE592
*color11:	#FF8537
*color12:	#1DA0E2
*color13:	#A742EA
*color14:	#47BAE8
*color15:	#DEE6E7
*color16:	#2A335A

!----Previous----
!*background:  #111111
!*foreground:  #eeffff

!black
!*trueblack:   #000000
!*black:       #111111
!*color0:      #212121
!*color8:      #8c8c8c

!red
!*color1:      #f07178
!*color9:      #f07178

!green
!*color2:      #5af78e
!*color10:     #5af78e

!yellow
!*color3:      #ffcb6b
!*color11:     #ffcb6b

!blue
!*color4:      #57c7ff
!*color12:     #57c7ff

!magenta
!*color5:      #c792ea
!*color13:     #c792ea

!cyan
!*color6:      #89ddff
!*color14:     #89ddff

!white
!*color7:      #eeffff
!*color15:     #eeffff

!new
!*color8:      #191a1e
!*color16:     #191a1e
